 <header>
      <nav class="round">
         <ul>
            
            <li><%= link_to "Главная", 'Home' %></li>
            <li><%= link_to "Куда ехать?!", 'Help' %></li>
            <li><%= link_to "Цены", 'About' %></li>
            <li><%= link_to "Фотогалерея", 'Contact' %></li>
          </ul>
      <%= image_tag("onegasity.jpg", :alt => "Myndozero", :class => "round") %>
            </nav>
      </header>
